In [1]:
from MySqlConnector import MySqlConnector

In [2]:
mySql=MySqlConnector(server='192.168.1.185',user='root',password='qwer1234.',database='test',port=3306)

In [3]:
result=mySql.query_to_df('select * from test_table ')

In [5]:
result.data

,id,string_field,int_field,float_field,date_field,datetime_field,bool
0,1,Sample String,123,45.67,2025-02-16,2025-02-16 14:30:32,1.0
1,2,Another String,456,78.90,2025-02-17,2025-02-17 15:00:12,0.0
2,3,None,789,12.34,2025-02-18,2025-02-18 16:15:00,NaN
3,4,Third Example,101,23.45,2025-02-19,2025-02-19 10:45:00,1.0
4,5,Test String 1,100,10.50,2025-01-01,2025-01-01 12:00:41,1.0
5,6,Test String 2,200,20.75,2025-02-01,2025-02-01 14:30:00,0.0
6,7,Sample Text,300,30.25,2025-03-01,2025-03-01 16:45:00,1.0
7,8,Another Entry,400,40.00,2025-04-01,2025-04-01 18:00:00,0.0
8,9,None,500,50.50,2025-05-01,2025-05-01 20:15:00,NaN
9,10,Test String 1,100,10.50,2025-01-01,2025-01-01 12:00:00,1.0
10,11,Test String 2,200,20.75,2025-02-01,2025-02-01 14:30:00,0.0
11,12,Sample Text,300,30.25,2025-03-01,2025-03-01 16:45:11,1.0
12,13,Another Entry,400,40.00,2025-04-01,2025-04-01 18:00:00,0.0
13,14,None,500,50.50,2025-05-01,2025-05-01 20:15:00,NaN
14,15,Test String 1,100,10.50,2025-01-01,2025-01-01 12:00:00,1.0
15,16,Test String 2,200,20.75,2025-02-01,2025-02-01 14:30:00,0.0
16,17,Sample Text,300,30.25,2025-03-01,2025-03-01 16:45:11,1.0
17,18,Another Entry,400,40.00,2025-04-01,2025-04-01 18:00:00,0.0
18,19,None,500,50.50,2025-05-01,2025-05-01 20:15:00,NaN
19,20,Test String 1,100,10.50,2025-01-01,2025-01-01 12:00:00,1.0
20,21,Test String 2,200,20.75,2025-02-01,2025-02-01 14:30:00,0.0
21,22,Sample Text,300,30.25,2025-03-01,2025-03-01 16:45:00,1.0
22,23,Another Entry,400,40.00,2025-04-01,2025-04-01 18:00:00,0.0
23,24,None,500,50.50,2025-05-01,2025-05-01 20:15:00,NaN
24,25,Test String 1,100,10.50,2025-01-01,2025-01-01 12:00:00,1.0
25,26,Test String 2,200,20.75,2025-02-01,2025-02-01 14:30:00,0.0
26,27,Sample Text,300,30.25,2025-03-01,2025-03-01 16:45:00,1.0
27,28,Another Entry,400,40.00,2025-04-01,2025-04-01 18:00:00,0.0
28,29,None,500,50.50,2025-05-01,2025-05-01 20:15:00,NaN
29,30,Test String 1,100,10.50,2025-01-01,2025-01-01 12:00:00,1.0
30,31,Test String 2,200,20.75,2025-02-01,2025-02-01 14:30:00,0.0
31,32,Sample Text,300,30.25,2025-03-01,2025-03-01 16:45:00,1.0
32,33,Another Entry,400,40.00,2025-04-01,2025-04-01 18:00:00,0.0
33,34,None,500,50.50,2025-05-01,2025-05-01 20:15:00,NaN

In [16]:
result.data.columns.values[0]

'id'